/* Header/Footer stuff */
div.my-footer {
    // background-image: linear-gradient(#d2383f, #e85448);
    background-color: #fff;
    color: #e7e7e7;
    color: #d2383f;
    font-weight: 500;
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 40px;
    width: 100%;
}

div.my-footer span {
    font-size: 10pt;
    position: absolute;
    bottom: 10px;
}

div.my-footer span.left {
    left: 15px;
}

div.my-footer span.center {
    left: 45%;
}

div.my-footer span.right {
    right: 15px;
}

/* JPB Styles ------------*/


/* ###### JPB Deck Styles */

/* Colors
Blue: #1576d4
Fog: #e7e7e7
Midnight: #002d58
Dandelion: #ffcf37

blue 10% lighter: #1F8DF1
blue 20% lighter: #38A6FF

red: #ed3e44;
slate: #3d3e44;
light gray: #b5b5c0;
*/

.remark-slide-content {
  background-color: #3d3e44;
  background-size: cover;
  color: #b5b5c0;
}

body {
  font-family: 'Work Sans', sans-serif;

}

h1, h2, h3, .f1, .f2, .f3 {
  text-shadow: -2px -1px 2px #1F8DF1
  font-family: 'Gotham';
  font-weight: 800;
}

h2 {
  font-weight: 900;
}

h3 {
  font-weight: 500;
}

strong {
  color: #ffcf37;
}

body .remark-slide-content h1,
body .remark-slide-content .f1 {
  font-size: 80px;
  line-height: 0.9em;
  text-transform: uppercase;
}

.f2 {
  font-size: 1.5em;
  text-transform: initial;
  -webkit-margin-before: 0.83em;
  -webkit-margin-after: 0.83em;
  -webkit-margin-start: 0px;
  jo-webkit-margin-end: 0px;
}

.f3 {
  font-size: 1.17em;
  text-transform: initial;
}

body .remark-slide-content p,
body .remark-slide-content li {
  font-size: 1.5em;
  margin: 0 0.2em;
}

body. .remark-slide-content .longlist li {
  font-size: 1em;
}

body .remark-slide-content blockquote {
  padding-left: 2em;
  border-left: 10px solid #ccc;
  margin-left: 0;
}
body .remark-slide-content blockquote p {
  font-style: italic;
  font-family: courier;
  font-size: 1.5em;
}

body .remark-slide-content p a {
  font-weight: 500;
}

body .remark-slide-content strong {
  font-weight: 500;
}

body .remark-slide-content a:hover {
  text-decoration: underline;
}

body .remark-slide-content a,
body .remark-slide-content a:visited {
  color: #eee;
}

.imageslide img {
  max-height: 500px;
}

.imagecell img {
  max-height: 200px;
}

li {
  line-height: 1em;
  padding-bottom: 0.5em;

}

.contain {
  background-size: contain;
  background-color: white;
}

.remark-code {
  font-size: 1.5em;
}
